{% extends 'base.html' %}
{% block content %}

<a href="registrarEditoriales"><b>Registrar nueva editorial en biblioteca</b> TecNM</a>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th> 
      
    </tr>
  </thead>
  <tbody>
    {% for l in catalogoEditoriales %}

      <tr>
        <th scope="row">1</th>
        <td>{{ l.nombre }}</td>
      
        <td><a href="/editarEditoriales/{{ l.id }}" class="btn btn-warning btn-xs">Editar</a></td>
        <td><a href="/eliminarEditoriales/{{ l.id }}" class="btn btn-warning btn-xs">Eliminar</a></td>

      </tr>

    {% endfor %}
    
  </tbody>
</table>

{% endblock %}