{% extends 'base.html' %}
{% block body %}

<div class = "jumbotron">
<p>Este párrafo pertenece a la vista Acerca</p>

        <h1>Sevicios en la nube</h1>

        </br>

        <p>
         <img src = {{url_for('static', filename= 'logo_tnm.png')}} heigth="250" width="250">
        </p>


        <ul>
           {% for elemento in variable %}
               <li>{{elemento}}</li>
            {% endfor %}
        
         </ul>

         {% if "Acerca" in variable %}
            <p>"Elemento Acerca existe en la lista"</p>
         {% else %}
         <p>"Elemento Acerca no existe en la lista"</p>
         {% endif %}

         <form action = "/" method = "POST">
            <input type="text" name="nombre" id="nombre">
            <input type="text" name="apellido" id="apellido">
            <input type="submit" class="btn btn-primary" value="Registrar">
            <!---- OJO los botones debes hacerlos como input type subimit, button no funciona
            <button type="button" class="btn btn-primary">Ir a Acerca</button> -->
         </form> 

         <p>Asignatura de especialidad de Ing. Informática</p>
         <p>Alumno 17460535 Jorge Armando Novela Vega</p>
      </div>
{% endblock %}